USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [bronze].[load_bronze]    Script Date: 12/16/2025 10:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [bronze].[load_bronze]
AS
BEGIN
    DECLARE @start_time DATETIME, @end_time DATETIME;

     SET NOCOUNT ON;
BEGIN TRY
    
   TRUNCATE TABLE bronze.crm_cust_info;
  
    SET @start_time = GETDATE();
    BULK INSERT bronze.crm_cust_info
    FROM 'E:\sql-data-warehouse-project\datasets\source_crm\cust_info.csv'
    WITH (
        FIRSTROW = 2,
        FIELDTERMINATOR = ',',
        ROWTERMINATOR = '\n',
        TABLOCK
    );

    SET @end_time = GETDATE();
    PRINT '>> lOAD DURATION: ' + CAST(DATEDIFF(SECOND, @start_time, @end_time) AS NVARCHAR) + 'seconds';
    PRINT '----------------';

    TRUNCATE TABLE bronze.crm_prd_info;
    SET @start_time = GETDATE();
    BULK INSERT bronze.crm_prd_info
    FROM 'E:\sql-data-warehouse-project\datasets\source_crm\prd_info.csv'
    WITH (
        FIRSTROW = 2,
        FIELDTERMINATOR = ',',
        ROWTERMINATOR = '\n',
        TABLOCK
    );
   
    SET @end_time = GETDATE();
    PRINT '>> lOAD DURATION: ' + CAST(DATEDIFF(SECOND, @start_time, @end_time) AS NVARCHAR) + 'seconds';
    PRINT '----------------';


   TRUNCATE TABLE bronze.crm_sales_details;
    SET @start_time = GETDATE();
    BULK INSERT bronze.crm_sales_details
    FROM 'E:\sql-data-warehouse-project\datasets\source_crm\sales_details.csv'
    WITH (
        FIRSTROW = 2,
        FIELDTERMINATOR = ',',
        ROWTERMINATOR = '\n',
        TABLOCK
    );
    SET @end_time = GETDATE();
    PRINT '>> lOAD DURATION: ' + CAST(DATEDIFF(SECOND, @start_time, @end_time) AS NVARCHAR) + 'seconds';
    PRINT '----------------';
       TRUNCATE TABLE bronze.erp_cust_az12;
    SET @start_time = GETDATE();
    BULK INSERT bronze.erp_cust_az12
    FROM 'E:\sql-data-warehouse-project\datasets\source_erp\CUST_AZ12.csv'
    WITH (
        FIRSTROW = 2,
        FIELDTERMINATOR = ',',
        ROWTERMINATOR = '\n',
        TABLOCK
    );

    SET @end_time = GETDATE();
    PRINT '>> lOAD DURATION: ' + CAST(DATEDIFF(SECOND, @start_time, @end_time) AS NVARCHAR) + 'seconds';
    PRINT '----------------';
    TRUNCATE TABLE bronze.erp_loc_a101;
    SET @start_time = GETDATE();
    BULK INSERT bronze.erp_loc_a101
    FROM 'E:\sql-data-warehouse-project\datasets\source_erp\LOC_A101.csv'
    WITH (
        FIRSTROW = 2,
        FIELDTERMINATOR = ',',
        ROWTERMINATOR = '\n',
        TABLOCK
    );
    SET @end_time = GETDATE();
    PRINT '>> lOAD DURATION: ' + CAST(DATEDIFF(SECOND, @start_time, @end_time) AS NVARCHAR) + 'seconds';
    PRINT '----------------';
    TRUNCATE TABLE bronze.erp_px_cat_g1v2;
    SET @start_time = GETDATE();
    BULK INSERT bronze.erp_px_cat_g1v2
    FROM 'E:\sql-data-warehouse-project\datasets\source_erp\PX_CAT_G1V2.csv'
    WITH (
        FIRSTROW = 2,
        FIELDTERMINATOR = ',',
        ROWTERMINATOR = '\n',
        TABLOCK
    );
    SET @end_time = GETDATE();
    PRINT '>> lOAD DURATION: ' + CAST(DATEDIFF(SECOND, @start_time, @end_time) AS NVARCHAR) + 'seconds';
    PRINT '----------------';
  END TRY
  BEGIN CATCH
    PRINT '-----------------------------';
    PRINT 'ERROR MESSAGE'+ ERROR_MESSAGE();
    PRINT 'ERROR MESSAGE'+ CAST(ERROR_NUMBER() AS NVARCHAR(200));
    PRINT 'ERROR MESSAGE'+ CAST(ERROR_STATE() AS NVARCHAR(200));
    PRINT '-----------------------------';
  END CATCH

END;
